main/results/*
datasets/*
main/__pycache__
main/__pycache__/*
*/__pycache__
*/__pycache__/*
*/*/__pycache__
*/*/__pycache__/*
*/*/*/__pycache__
*/*/*/__pycache__/*
*.csv
.DS_Store、

results/*
datasets/
experiment_results/
results/
